# Sanity CMS
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_PROJECT_ID="uzifkako"
SANITY_API_WRITE_TOKEN=""

# Resend (Correos Transaccionales)
RESEND_API_KEY=""
RESEND_FROM_EMAIL="Capsuland <no-reply@capsuland.com>"
RESEND_ADMIN_EMAIL="coordinadorcomercial@capsuland.com"

# Mercado Pago (Checkout Pro)
MP_ACCESS_TOKEN=""
MP_PUBLIC_KEY=""
NEXT_PUBLIC_SITE_URL="https://capsuland.com"
